* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
@import 'variables.scss';
@import 'mixins.scss';
@import 'Navbar.scss';
@import 'Form.scss';
@import 'Card.scss';


#root {
    width: 100%;
    overflow-x: hidden;
    background: #ddd;
}

.card-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mobile {
        flex-direction: column;
        margin-top: 8rem;
    }
}
